services:
  web:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: cdcocktails_web
    restart: unless-stopped
    environment:
      - APP_ENV=prod
      - IMAGES_ROOT=${IMAGES_ROOT:-/var/www/html/cocktail-images}
    ports:
      - "80:80"
    volumes:
      - ./public:/var/www/html/public:ro
      - ./templates:/var/www/html/templates:ro
      - ./src:/var/www/html/src:ro
      - ./vendor:/var/www/html/vendor:ro
      - ./cocktail-images:/var/www/html/cocktail-images
      - ./docker/000-default.conf:/etc/apache2/sites-available/000-default.conf:ro

  imgproc:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: cdcocktails_imgproc
    working_dir: /var/www/html
    environment:
      - IMAGES_ROOT=${IMAGES_ROOT:-/var/www/html/cocktail-images}
    volumes:
      - ./bin:/var/www/html/bin:ro
      - ./src:/var/www/html/src:ro
      - ./vendor:/var/www/html/vendor:ro
      - ./cocktail-images:/var/www/html/cocktail-images
    command: ["php", "bin/console", "app:images:process"]
    profiles: ["tools"]
