services:
  web:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    environment:
      - IMAGES_ROOT=${IMAGES_ROOT:-/var/www/html/cocktail-images}
    ports:
      - "8081:80"
    volumes:
      - ./:/var/www/html:delegated
      - ./docker/000-default.conf:/etc/apache2/sites-available/000-default.conf:ro

  composer:
    image: composer:2
    working_dir: /app
    volumes:
      - ./:/app

  imgproc:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    working_dir: /var/www/html
    environment:
      - IMAGES_ROOT=${IMAGES_ROOT:-/var/www/html/cocktail-images}
    volumes:
      - ./:/var/www/html:delegated
    command: ["php", "bin/console", "app:images:process"]
